#content {
    margin: 25px;
}

/* Styling for the footer */
div.footer {
    font: small Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    }
#nextPage {
    display: block;
    height: 50px;
    line-height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: #607D8B;
    border: outset;
}
#confirm {
    display: block;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background: transparent;
    border: none;
    font-size: 150%;
    color: white
}
#dataform{
    text-align: center;
}
  
#arrow {
    float: right;
    font-size: 300%;
    color: white;
}
td:hover,
.active {
    background-color: #607D8B;
}
#dateTimeHeader {
    padding-bottom: 15%;
    text-align: center;
    font-size: 150%;
}